extends layout

block content

  section(class="cover imagebg image--light cover bg--secondary")
    div(class="background-image-holder" style="background: url('/assets/img/promo-1.jpg'); opacity: 1;")
      img(alt="background" src="/assets/img/promo-1.jpg")
    div(class="container")
      div(class='row')
        div(class='col-sm-10 col-md-8')
          h2 !{lang.index.title}
          p !{lang.index.subtitle}
          p(class='lead') !{lang.index.content}
          div(class="modal-instance block")
            div(class="video-play-icon video-play-icon--sm modal-trigger")
            span
              strong !{lang.index.video_call}
                div(class="modal-container")
                  div(class="modal-content bg-dark" data-width="60%" data-height="60%")
                    iframe(src="https://www.youtube.com/embed/"+lang.index.video_id+"?autoplay=1" allowfullscreen="allowfullscreen")
          hr(class='short')
          div(class='row m-t-0')
            div(class='col-sm-10 col-md-8')
              form(class='lead-form')
                p !{lang.request_demo.subtitle}
                input(type="email" class='email' name="email" placeholder=lang.index.email required)
                button(type="submit" class="btn btn--primary") !{lang.request_demo.button}
                span(class="type--fine-print") !{lang.request_demo.warning}
  section(class="text-center")
    div(class="container")
      div(class="row")
        div(class="col-sm-10 col-md-10")
          h1 !{lang.cases.title}
          p(class="lead") !{lang.cases.subtitle}
          div
            a(class="btn btn--primary" href="/cases")
              span(class="btn__text type--uppercase") !{lang.cases.button}

  
block scripts
