extends ../layout

block content
  script.
    var appPath = "#{appPath}";
  section(class="cover height-100 text-center")
    div(class="container pos-vertical-center")
      div(class="row")
        div(class="col-sm-12 col-md-10")
          h1(class='color--primary') !{lang.calendly.title}
          h2 !{lang.calendly.subtitle}
          p(class="lead") !{lang.calendly.content}
          a(class="btn btn--primary type--uppercase" href="https://calendly.com/converfit-pablo/demo/")
            span(class="btn__text") !{lang.calendly.button}

block scripts
  script.
    window.location.href= "https://calendly.com/converfit-pablo/demo/";
