extends ../layout

block content
  script.
    var appPath = "#{appPath}";
  section(class='text-center')
    div(class='container')
      div(class='row')
        div(class='col-sm-12')
          h1 !{lang.plugins.title}
          p(class="lead") !{lang.plugins.subtitle}
  section(class="")
    div(class="row")
      div(class="col-md-3 text-center")
        img(src=lang.plugins.magento.img)
        h3 !{lang.plugins.magento.title}
        p(class="small") !{lang.plugins.magento.subtitle}
        a(class="btn btn--secondary type--uppercase" href="#")
          span(class="btn__text") !{lang.plugins.coming_soon}
        
      div(class="col-md-3 text-center")
        img(src=lang.plugins.wordpress.img)
        h3 !{lang.plugins.wordpress.title}
        p(class="small") !{lang.plugins.wordpress.subtitle}
        a(class="btn btn--primary type--uppercase" target="_blank" href="/plugins/wp_converfit.zip")
          span(class="btn__text") !{lang.plugins.download}
      div(class="col-md-3 text-center")
        img(src=lang.plugins.prestashop.img)
        h3 !{lang.plugins.prestashop.title}
        p(class="small") !{lang.plugins.prestashop.subtitle}
        a(class="btn btn--primary type--uppercase" target="_blank" href="/plugins/prestashop_converfit.zip")
          span(class="btn__text") !{lang.plugins.download}
      div(class="col-md-3 text-center")
        img(src=lang.plugins.shopify.img)
        h3 !{lang.plugins.shopify.title}
        p(class="small") !{lang.plugins.shopify.subtitle}
        a(class="btn btn--secondary type--uppercase" href="#")
          span(class="btn__text") !{lang.plugins.coming_soon}
      div(class="col-md-3 text-center")

  section(class='text-center')
    div(class='container')
      div(class='row')
        div(class='col-sm-12')
          h2 !{lang.plugins.no_plugin.title}
          p(class="lead") !{lang.plugins.no_plugin.subtitle}
          div
            a(class="btn btn--secondary type--uppercase" href="mailto:info@converfit.com")
              span(class="btn__text") !{lang.plugins.no_plugin.button}
